<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="project_hole">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0.0535751483778379" />
      <inertia
        ixx="1.56743303563329E-05"
        ixy="-7.603871236365E-22"
        ixz="-7.40318390391829E-22"
        iyy="1.56743303563329E-05"
        iyz="7.40428689222587E-22"
        izz="1.64898728865514E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0.5 -1.0 -0.98"
        rpy="-1.5707963268 0 0" />
      <geometry>
        <mesh
          filename="package://project_hole/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0.5 -1.0 -0.98"
        rpy="-1.5707963268 0 0" />
      <geometry>
        <mesh
          filename="package://project_hole/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>